progress.task {
  width: 100%;
  height: 1.5rem;
  border: 1px solid black;
}

progress.task.not_started::-webkit-progress-bar {
  background-color: white;
}

progress.task.not_started::-webkit-progress-value {
  background-color: black;
}

progress.task.in_progress::-webkit-progress-bar {
  background-color: yellow;
}

progress.task.in_progress::-webkit-progress-value {
  background-color: green;
}

progress.task.paused::-webkit-progress-bar {
  background-color: orange;
}

progress.task.paused::-webkit-progress-value {
  background-color: red;
}

progress.task.completed::-webkit-progress-bar {
  background-color: white;
}

progress.task.completed::-webkit-progress-value {
  background-color: green;
}

progress.task::after {
  content: attr(status) ": " attr(value) "%";
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: black;
  transform: translate(0%, -100%);
}