html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.center-text {
  text-align: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  /* Aligns items with space between them */
  align-items: center;
  /* Centers items vertically */
}

.flexRightAlign {
  /* Pushes the icon to the right */
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.form-margin {
  margin: 0 0 1rem 0;
}